h1 {
    color: darkmagenta;
}
.container{
    width: 50%;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display{
    width: 17rem;
    height: 17rem;
    background-color: red;
    margin-bottom: 1.5rem;
    border: 3px solid black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
#correct{
    background-color: green;
}
#correct p{
    margin-left: 2.5rem;
}